.container--outer{
    background-color: #fff;
    height: 1000px;
    /* width: 1440px; */
    width: 100%;
    /* display: inline-grid; */
    overflow: auto;
}

.container--inner{
    width: 100%;
    /* width: 1440px; */
    margin-top: 210px;
}

.container--inner__top{
    margin: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container--inner__top__left{
    /* border: 1px solid brown; */
    width: 300px;
    height: 370px;
    display: flex;
    justify-content: start;
    margin-right: 50px;

}

.carousel-wrapper{
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.carousel-wrapper > .carousel {
    display: flex;
    position: relative;
    transition-duration: 0.3s;
}


.prev{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-weight: bolder;
    border: none;
    background-color: #d8e2f0;
    box-shadow:2px 2px 2px #8e8d8d;
    position: absolute;
    z-index: 100px;
    margin-top: 135px;
    margin-left: 5px;
    /* transition-duration: 0.2s; */
}
.next{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-weight: bolder;
    border: none;
    background-color: #d8e2f0;
    box-shadow:2px 2px 2px #c2c2c2;
    position: absolute;
    z-index: 100px;
    margin-left: 265px;
    margin-top: 135px;
    /* transition-duration: 0.2s; */
}

.container--inner__top__left img{
    min-width: 300px;
    max-width: 300px;
    min-height: 300px;
    max-height: 300px;
    border-radius: 20px;
    
}

.container--inner__top__right{
    /* border: 1px solid green; */
    width: 500px;
    height: 370px;
    padding-left: 20px;
}

.container--inner__top__right__title{
    font-size: 1.7em;
    font-weight: bold;
}

.container--inner__top__right__price{
    font-size: 2.0em;
    font-weight: bold;
    padding: 5px 0;
}

.container--inner__top__right__viewAndLike{
    display: flex;
}

.container--inner__top__right__viewAndLike *{
    color: #848383;
    /* margin-top: 5px;
    margin-right: 3px; */
}

.container--inner__top__right__view{
    margin-right: 3px;
}
.container--inner__top__right__like{
    margin-top: 0;
}

#goodsLike{
    margin: 0 0 5px 0;
    width: 15px;
    cursor: pointer;
}
#goodsLike:hover{
    transition-duration: 0.2s;
}

.container--inner__top__right__describe{
    margin: 10px 0;
    width: 400px;
    height: 170px;
    background-color: #d8e1ee;
    box-shadow: 5px 5px 5px #d6d5d5;
    border-radius: 20px;
    overflow: auto;
    padding: 20px;
}

.container--inner__top__right__describeTitle{
    font-size: 1.2em;
    font-weight: bold;
    color: #2365b9;
}

.container--inner__top__right__describeContent{
    margin: 10px 0;
}

.container--inner__bottom{
    /* border: solid 1px blue; */
    margin: 10px 50px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* width: 850px; */
    height: 350px;
}

.container--inner__bottom__shopInfo__folder__outer{
    width: 840px;
    height: 50px;
    justify-content: start;
}

.container--inner__bottom__shopInfo__folder{
    width: 200px;
    height: 52px;
    background-color: #FAFCEE;
    border: 2px solid #c5c6c7;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    color: #2365b9;
    letter-spacing: 0.2em;
    box-shadow: 5px 5px 5px #c2c2c2;
}

.container--inner__bottom__shopInfo{
    width: 840px;
    height: 290px;
    background-color: #FAFCEE;
    border: 2px solid #c5c6c7;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 5px 5px 5px #c2c2c2;
    display: flex;
    padding: 30px ;
}

.container--inner__bottom__shopInfo__profile{
    /* border: 1px solid black; */
    width: 150px;
    height: 200px;
    display: flex;
    justify-content: center;
}

.container--inner__bottom__shopInfo__profile>img{
    width: 120px;
    height: 120px;
    background-color: #d5d4d4;
    border-radius: 50%;
}

.container--inner__bottom__shopInfo__others{
    /* border: 1px solid black; */
    width: 400px;
    height: 200px;
    padding-left: 30px;
}

.container--inner__bottom__shopInfo__buttons{
    /* border: 1px solid red; */
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: start;
}

.container--inner__bottom__shopInfo__buttons a{
    text-decoration: none;
    color: black;
}

.container--inner__bottom__shopInfo_shopTitleButton{
    background-color: #c2d3eb;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    line-height: 43px;
    box-shadow: 3px 3px 3px #c3c3c3;
    width: 100px;
    height: 40px;
    border-radius: 20px;
}

.container--inner__bottom__shopInfo__chattingButton{
    background-color: #518fdf;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    line-height: 43px;
    box-shadow: 3px 3px 3px #c3c3c3;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin-left: 15px;
}

.container--inner__bottom__shopInfo__shopDescibe{
    margin-top: 15px;
    margin-left: 10px;
}



