.container--outer{
    background-color: #fff;
    height: 1000px;
    /* width: 1440px; */
    width: 100%;
    display: inline-grid;
    overflow: auto;
}

.container--inner{
    width: 100%;
    /* width: 1440px; */
    margin-top: 210px;
}

.container--inner__top{
    margin: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    gap: 30px;
    /* place-items: center; */
    /* position: fixed; */
}

.searchNameCount{
    width: 190px;
    height: 55px;
    border-radius: 35px;
    background-color: #c0d5e8;
    padding-top: 14px;
    font-size: 1.2em;
    color: black;
    font-weight: bolder;
    box-shadow: 5px 5px 5px #dbdee1;
    text-align: center;
    justify-self: start;
}

.selectSort{
    color: #8f8d8d;
    justify-self: end;

}

/* 판매 완료 상품 제외 체크박스 */
.soldoutExcept + label{
    width: auto;
    height: 27px;
    display: inline-block;
    cursor: pointer;
    border-radius: 15%;
}

/* 최신순,낮은가격순,높은가격순,인기순 */
.container--inner__top :not([class="container--inner__top_sort_split"]){
    cursor: pointer;
}


.container--inner__top :not([class="container--inner__top_sort_split"]):checked{
    color: #000;
    font-weight: bold;
}


.container--inner__middle_noList{
    width: 1060px;
    /* border: 1px solid red; */
    margin: 0 auto;
    padding: 70px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

/* 검색한 상품 목록이 없을 때 */
.noGoodsList{
    width: 1060px;
    height: 300px;
    margin: 80px;
    font-size: 1.5em;
    justify-content: center;
    text-align: center;
}

/* 검색 결과 나타나는 영역 */
.container--inner__middle{
    width: 1060px;
    /* border: 1px solid red; */
    margin: 0 auto;
    padding: 70px 0 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}


.container--inner__middle>div[class*=goods]{
    width: 265px;
    height: 370px;
    /* border: 1px solid black; */
    padding: 0 10px;
    float: left;
    position: relative;
}

.container--inner__middle img{
    width: 210px;
    height: 210px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 15%;
    display: block;
    box-shadow: 5px 7px 5px #c1c1c1;
    /* border: 1px solid red; */
    position: absolute;
}
.container--inner__middle img:hover{
    box-shadow: 5px 5px 5px #a09f9f;
    transition-duration: 0.2s;
}

.soldout{
    --bs-blueposition: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 30px; width: 95px; font-weight: 900; text-align: center; color: rgb(80, 91, 240); -webkit-text-stroke: 1px rgb(230, 235, 253); -webkit-text-fill-color: rgb(80, 91, 240);
    --xt-fill-color: rgb(80, 91, 240);
}

/* 예약중/판매 완료 표시 */
.soldoutOrReserv{
    position: absolute;
    width: 210px;
    height: 210px;
    border-radius: 15%;
    background-color: #000;
    opacity: 0.4;
}

/* 예약중 / 판매 완료 나누기 */
.searchGoodsStatus{
    position: absolute;
    border-radius: 5%;
    font-weight: bold;
    color: white;
    /* background-color: #df1616; */
    background-color: #00ba28;
    text-align: center;
    font-size: 1.2em;
    justify-content: center;
    align-items: center;
}

/* 상품 가격, 타이틀 */
.container--inner__middle div[class*=goods_]{
    /* border: 1px solid red; */
    padding: 5px 15px;
    display: flex;
}

.container--inner__middle a{
    text-decoration: none;
    cursor: pointer;
}
/* 상품 클릭 전후중 글자 색 */
.container--inner__middle a:link{color:black;}
.container--inner__middle a:visited{color:#8f8d8d;}
.container--inner__middle a:hover{color:#2365b9;}

.goods_price{
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
    width: 210px;
}

.goods_title{
    font-size: 1.2em;
}

.container--inner__bottom{
    width: 100%;
    height: 100px;
}
.more{
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    color: #2365b9;
    border-radius: 50%;
    background-color: #e4ecf3;
    box-shadow: 3px 3px 3px #d5d6d7;
    border: none;
    margin: auto;
    width: 100px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.more:hover{
    box-shadow: 3px 3px 3px #bbbdbd;
    transition-duration: 0.2s;
}