*{
    font-family: 'Pretendard';
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    letter-spacing: -0.25px;
}

/* 메인페이지 전체에 대한 공간 */
.mainPage--wholeWrapper{
    width: 900px;
    margin: auto;
    margin-top: 200px;
    position: relative;
}

/* 캐러셀 영역 */
.mainPage--carousel{
    margin: auto;
    width: 900px;
    height: 30%;
    font-weight: 900;
    border-radius: 10px;
    overflow: hidden;
}

.mainPage--carousel__item{
    width: 900px;
    height: 280px;
    position: relative;
}

.mainPage--carousel__item img{
    position: absolute;
}

.carousel-caption{
    color: #fafcee !important;
}


/* 첫번째 상품 소개 페이지(최근 업데이트 상품) */
.mainPage--goodsContainer1{
    margin-top: 50px;
}

/* 메인 뷰 이미지 타이틀 */
.mainPage--imgs__title{
    font-size: 23px;
    font-weight: 900;
    margin-bottom: 12px;
    display: block;
    box-sizing: border-box;
    
}

/* 메인페이지의 각 아이템에 대한 스타일 */
.mainPage--item{
    width: 160px;
    height: 160px;
}

/* .mainPage--item__container{
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative; 
}

.mainPage--item::before{
    content: "";
    display: block;
    padding-top: calc(100% / (300 / 200));
}

.mainPage--item{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */









