*{
    font-family: 'Pretendard';
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    letter-spacing: -0.25px;
}

/* 메인페이지 전체에 대한 공간 */
.mainPage--wholeWrapper{
    width: 900px;
    margin: auto;
    margin-top: 200px;
    position: relative;
}

/* 캐러셀 영역 */
.mainPage--carousel{
    margin: auto;
    width: 900px;
    height: 30%;
}

/* 첫번째 상품 소개 페이지(최근 업데이트 상품) */
.mainPage--goodsContainer1{
    margin-top: 50px;
}

/* 카테고리 타이틀 */
.mainPage--category__title{
    font-size: 23px;
    margin-bottom: 12px;
    display: block;
}

/* 메인페이지의 각 아이템에 대한 스타일 */
.mainPage--item{
    box-sizing: border-box;
    padding: 0px;
    width: 170px;
    height: 170px;
}