/* Admin ul */
/* 로고 */
.homeLogo{
    width: 100%;
    
}

/* 사이드바 */
.admin_ul {
    list-style-type: none;
    background-color: #f8febf85;
    width: 25%;
    min-width: 200px;
    max-width: 200px;
    padding: 10px 0px;
    margin: 0;
    position: fixed;
    height: 100%;
    opacity: auto;
    font-size: 20px;
    border-right: 1px solid #ccc;
    overflow: auto;
    

}

.admin_list>a{
    text-decoration: none;
    display: block;
    color: black;
    padding: 8px 15px 8px 15px;
    padding: 15px;


    
}

.admin_list>a:hover{
    font-size: 21px;
    font-weight: bold;
}

/* 내부 내용 */
.admin_content{
    margin: 0px 300px ;
    padding: 1px 16px;
    height: 1000px;
    min-width: 1000px;

}
