
/* 컨테이너 박스 전체 영역 */
.header--container__containerbox{
    
    display: inline-block;
    height: 150px;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    background-color: #fafcee;
}

/* 컨테이너 박스 각 섹션 영역의 설정 */
.header--container__containerbox section{
    width: 33%;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

/* 검색 돋보기 이미지 */
.glass{
    color:#005EEE ;
    cursor: pointer;
   float: right;
   margin: 10px;
}
/* 검색창 섹션 */
.header--mid__serach{
    border: 1px solid #005EEE;
    color:#005EEE;
    border-radius: 30px; 
    margin: 20px;
}

/* 검색창 */
.search{
    border: none; 
    appearance: none;
    padding: 0px;
    width: 30rem;
    display:flex;
    justify-content: center;
    padding: 0px;
    margin: 10px;
}

.search:focus{
    outline: none;
} 

.header--right__icons img{
    width: 36px;
    height: 36px;
    margin: 5px;
}

.header--right__icons a{
    text-decoration: none;
}

.header--right__user-menu{
    display: inline-block;
}

/* 헤더 상단 */

.header--container__top{
    
}

.header--container__top>div{
    width: 250px;
    display: flex;
    justify-content: space-between;
}

/* 로그아웃 | 마이페이지 | 관심상품 */
.header--container__top span{
    align-items: center;
}

.header--container__top a{
    text-decoration: none;
}

/* 헤더 중단 */
.header--container__middle{
    display: flex;
    justify-content: space-around;
}

/* 상품명 검색창 */
.header--mid__serach{
    display: flex;
    width: 900px;
    background-color: #ffffff;
}

/* 메인 아이콘(내상점, 메세지, 알림) */
.header--container__middle div{
    display: flex;
    align-items: center;
}






/* nav-bar menu */
.nav--container__menu{
    display: flex;
    margin: auto;
    height: 50px;
    width: 600px;
    justify-content: space-between;
    align-items: center;
    background-color: #fafcee;
}

.nav--container__menu div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
    cursor: pointer;
    position: relative;
}


.nav--container__menu div::after {
    content: '';
    display: none;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
}

.nav--container__menu div:hover::after {
    display: block;
}