/* 모달 윈도우 밖 css(검정색 영역) */
.loginPage--loginModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

/* 모달 윈도우 영역, 햐얀색 부분 */
.loginPage--modalWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 400px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: auto; 
    border-radius: 10px;
}

/* 모달 윈도우 탑영역 구현 --> 이미지 센터 */
.loginPage--modalWindow__top{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

/* 이미지 로고 크기 */
.loginPage--modalWindow__top img{
    width: 300px;
    
}


/* 로그인 입력부분(가운데) 영역 CSS */
.loginPage--modalWindow__midForm{
    display: flex;
    justify-content: center;
    width: 100%;
}


/* 각각 input 크기 조절 */
.loginPage--modalWindow__midForm input{
    width: 280px;
    margin-bottom: 15px; 
    padding: 10px 15px; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
}

/* input email detail */
.loginPage--modalWindow__midForm input[type="text"]{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* input password detail */
.loginPage--modalWindow__midForm input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* input form 아랫부분영역 */
.loginPage--modalWindow__midFormBot{
    display: flex;
    justify-content: center;
}

/* input button detail */
.loginPage--modalWindow__midFormBot button {
    padding: 10px 15px; 
    border-radius: 5px; 
    border: none; 
    background-color: #007bff; 
    color: #fff; 
    transition: background-color 0.3s; 
    width: 200px;
}

/* input button hover action */
.loginPage--modalWindow__midForm button:hover {
    background-color: #0056b3; 
}





/* modal window bottom section */
.loginPage--modalWindow__bot{
    margin-top: 5px;
    margin-bottom: 30px;
}

/* modal window bottom section a tag's style */
.loginPage--modalWindow__bot a{
    text-decoration: none;
}

/* 로그인 아랫부분 영역의 윗쪽 부분에 대한 정렬 */
.loginPage--modalWindowBot__top{
    display: flex;
    justify-content: space-evenly;
}

/* 로그인 아랫부분 영역의 아랫쪽 부분에 대한 정렬 */
.loginPage--modalWindowBot__bot{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

