.container--outer{
    background-color: #fff;
    height: 1000px;
    /* width: 1440px; */
    width: 100%;
    display: inline-grid;
}

.container--inner{
    width: 100%;
    /* width: 1440px; */
    margin: 210px 60px 0px;
}

.container--inner__top{
    display: grid;
    justify-items: stretch;
    align-items: center;
    grid-template-columns: 1fr 4fr 2fr;
    gap: 30px;
}

.searchNameCount{
    width: 190px;
    height: 55px;
    border-radius: 35px;
    background-color: #c0d5e8;
    padding-top: 14px;
    font-size: 1.2em;
    color: black;
    font-weight: bolder;
    box-shadow: 0 4 15 0 #000000;
    text-align: center;
    justify-content: center;
}

.selectSort{
    justify-content: flex-end;
}

/* 판매 완료 상품 제외 체크박스 */
.soldoutExcept + label{
    width: auto;
    height: 27px;
    display: inline-block;
    cursor: pointer;
    border-radius: 15%;
}

/* 검색한 상품 목록들 */
.container--inner__middle{
    width: 1060px;
    /* border: 1px solid red; */
    margin: 0 auto;
    padding: 30px 0;
    overflow: hidden;
}

.container--inner__middle>div[class*=goods]{
    width: 265px;
    height: 360px;
    border: 1px solid black;
    float: left;
}

.container--inner__middle img{
    width: 265px;
    border-radius: 15%;
    padding: 15px;
    display: block;
}
