*{
    font-family: 'Inter', 'Pretendard';
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a{
    text-decoration: none !important;
}

/* 내상점 컨테이너 */
.myshop--profile{
    margin-top: 30px;
    border: 0.5px solid #A5A5A5;
    border-radius: 20px;
    background-color: #F3F6FC;
    width: 850px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 4px #CECECE;
}

/* 내상점 프로필 사진 컨테이너 */
.myshop--profile>div:first-of-type{ 
    height: 90%;
    width: 30%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 내 상점 컨텐츠 컨테이너 */
.myshop--profile>div:last-of-type{ 
    height: 90%;
    width: 70%; 
    display: flex;
    flex-direction: column;
}

.myshop--info__container{
    margin-left: 10px;
    display: flex;
    justify-content: center;
}

/* 내 상점 컨텐츠 컨테이너 내 div들 */
.myshop--info__container>div:nth-of-type(1){ height: 20%; }
.myshop--info__container>div:nth-of-type(2){ height: 45%; }
.myshop--info__container>div:nth-of-type(3){ height: 25%; }
.myshop--info__container>div:nth-of-type(4){ height: 10%; }

/* 이미지 크롭 */
.myshop--profileImage__crop{
    width: 230px;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
}

/* 내 상점 프로필 사진 */
.myshop--profileImage__img{
    max-width: 100%;
    height: auto;
    display: block;
}

/* 내 상점 컨텐츠 상단 (상점명, 접속여부, 팔로우 버튼) */
.myshop--info__top{
    display: flex;
    padding-left: 8px;
}

/* 내 상점 팔로우 버튼 */
.myshop--info__btn-follow{
    width: 125px;
    height: 40px;
    border-radius: 10px;
    background-color: #CECECE;
    font-size: 18px;
    border: none;
    font-weight: bold;
}

/* 상점명, 접속여부 div */
.myshop--info__top>div:first-of-type{
    width: 75%;
    margin-top: 10px;
}

/* 팔로우버튼 div */
.myshop--info__top>div:last-of-type{
    width: 25%;
    display: flex;
    justify-content: center;
}

.myshop--info__top>div{
    display: flex;
    align-items: center;
}

/* 상점명 */
.myshop--info__title{
    font-size: 20px;
    font-weight: 700;
}

/* 접속 여부 */
.myshop--info__connecting{
    width: 0.6rem;
    height: 0.6rem;
    background-color: red;
    border-radius: 100px;
    margin-left: 15px;
}

/* 내상점 콘텐츠 소개글 */
.myshop--info__middle1{
    padding: 20px 10px;
}

/* 내상점 콘텐츠 중단2 */
.myshop--info__middle2{
    display: flex;
    justify-content: space-around;
}

/* 내상점 콘텐츠 중단2 div들 (팔로워, 오픈일, 판매건수) */
.myshop--info__middle2 div{
    display: flex;
    margin-right: 10px;
}

.myshop--info__middle2>div>div:last-of-type{
    font-weight: 500;
}


/* 내상점 콘텐츠 하단 */
.myshop--info__bottom{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}


/* 내상점 신고하기 div */
.myshop--info__btn-report{
    border-bottom: 1px solid #6c6c6c;;
}

/* 내상점 신고하기 href */
.myshop--info__btn-report a{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 내상점 신고하기 txt */
.myshop--info__btn-report div{
    color: #6c6c6c;
}

/* 내상점 신고하기 div 내 img */
.myshop--info__btn-report>a>img{
    height: 15px;
    width: auto;
}


/* 탭 메뉴 */
.myshop--tap{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

/* 텝 메뉴 컨테이너 */
.myshop--tab__container {
    width:80%;
    padding: 40px 0;
    /* display: flex;
    align-items: center;
    flex-direction: column; */
}
  
  /* 탭 메뉴 탭들 */
.tabs ul {
    width: 100%;
    display: table;
    table-layout: fixed;
    padding: 0;
    margin-bottom: 0px;
}

.tabs li {
    display: table-cell;
    height: 100%;
    padding: 15px 0 15px;
    border-right: 2px solid #D9D9D9;
    text-align: center;
}

  /* 탭 메뉴 활성화된 탭 */
.tabs li.tabs--active {
    background: #D9D9D9;
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
}

  /* 탭 메뉴 활성화된 탭 txt */
.tabs li.tabs--active a {
    color: #000000;
}

/* 탭 메뉴 모든 콘텐츠 */
.myshop--tab__content{
    display: none;
}

/* 활성화된 탭 메뉴 콘텐츠 */
.myshop--tab__container div.tabs--active{
    display: inherit;
}

  /* 탭 메뉴 탭 txt */
.tabs li a {
    font-size: 20px;
    color: #757575;
    display: block;
    width: 100%;
    height: 100%;
    font-weight: 600;
}

/* 탭 메뉴 별 숫자 */
.tabs div{
    display: inline-block;
    margin-left: 13px;
}

/* 탭 컨텐츠 */
.myshop--tab__content{
    background-color: #D9D9D9;
}

/* 상품 탭 컨텐츠 상단 */
.myshop--tab1__content-top{
    display: flex;
    justify-content: flex-end;
}

/* 상품 정렬 리스트 */
.myshop--tab1__content-top ul{
    display: table;
    table-layout: fixed;
    margin: 20px;
}

/* 상품 정렬 리스트 4개(최신순, 인기순, 저가순, 고가순) */
.myshop--tab1__content-top li{
    display: table-cell;
    text-align: center;
}

/* 상품 정렬 리스트 4개 각각 연결된 a태그 */
.myshop--tab1__content-top a{
    color: black;
    margin: 4px;
    font-weight: 600;
}

/* 활성화된 정렬 기준 txt */
.sort--active>a{
    color: red;
}

