html, body {
    width: 100%;
    height: 100%;
}

.myshop--edit__main{
    font-family: 'Pretendard';
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #00000050;
}