.qna_bar{
    margin: 10px 10px;
    font-size: 30px;
    font-style: italic;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* -------------------------------- */
.qna_head{
    position : relative;
    display : block;
  }


  .dropbtn{
    border : 1px solid #005EEE;
    border-radius : 5px;
    background-color: #8ab2e24b;
    width: 1000px;
    height: 40px;
    font-weight: 400;
    color :  #005EEE;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    user-select: none;
    cursor: pointer;
    text-align: left;
  }
  .qna_head_content{
    position : absolute;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
    font-weight: 400;
    background-color: white;
    min-width : 200px;
  }
  
  .qna_head_content a{
    display : block;
    text-decoration : none;
    width: 1000px;
    height: 80px;
    text-align: center;
    color : #005EEE;
    font-size: 30px;
    padding : 12px 20px;
  }
  
  .qna_head_content a:hover{
    background-color : #f2f6d8
  }
  
  .qna_head:hover .qnd_head_contentt {
    display: block;
  }
/* ------------------------------------ */

.qna_content{
    margin: 15px 0px;
       
}

#qna_content{
    border-radius: 13px;
    border: none;
    outline: none;
    width: 1000px;
    border: 1px solid #005EEE;
    background-color: #8ab2e22e;
    margin: 0px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#qna_content::placeholder{
  color: #005EEE;
}

.qna_photo_send{
 border: none;
 cursor: pointer;
 color: #005EEE;
 padding: 0px;
 margin: 0px;

}

.qna_button{
   background-color: #005EEE;
   color: white;
   padding: 8px 30px;
   border-radius: 8px;
   display: flex;
   justify-content: center;
   border: none;
   cursor: pointer;
   display: block;
   margin-left: auto;
   margin-right: auto;
}