.qna_bar{
    margin: 10px 10px;
    font-size: 30px;
    font-style: italic;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.qna_head{
    border: 1px solid black;
    border-radius: 5px;
    width: 1000px;
    border: 1px solid #005EEE;
    background-color: #8ab2e24b;
    color: #005EEE;
    display: block;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
    cursor: pointer;
    height: 40px;
}

.qna_head_content{
    opacity: 0;
    z-index: 2;
    position:relative;
   
    display: flex;
    justify-content: center;
 
}

.qnd_li{
    list-style: none;
    font-size: 30px;
   
}

.hidden {
    display: none;
    position: absolute;
    
}
.qna_content{
    margin: 15px 0px;
       
}

#qna_content{
    border-radius: 13px;
    border: none;
    outline: none;
    width: 1000px;
    border: 1px solid #005EEE;
    background-color: #8ab2e22e;
    margin: 0px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
    
    
}

#qna_content::placeholder{
  color: #005EEE;
}

.qna_photo_send{
 border: none;
 cursor: pointer;
 color: #005EEE;
 padding: 0px;
 margin: 0px;

}

.qna_button{
   background-color: #005EEE;
   color: white;
   padding: 8px 30px;
   border-radius: 8px;
   display: flex;
   justify-content: center;
   border: none;
   cursor: pointer;
   display: block;
   margin-left: auto;
   margin-right: auto;
}