/* 20230426 상준 작성 시작 */
.priceview--background {
    background-color: lightblue;
    height: calc(100vh - 150px); /* header 150px 고정값 빼기 */
}

/* ---------------------------------------------------- */

.priceview--top__title { /* 이 부분은 추후 높이 협의 보기 */
    background-color: #C2D3EB;
    color: #2365B9;
    font-weight: bold;
    font-style: italic;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 200px; /* priceview--main의 width 참조 */
}

/* ---------------------------------------------------- */

.priceview--main__background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.priceview--main {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px - 100px);
    width: calc(100vw - 400px);
}

/* ---------------------------------------------------- */
/* -------- 여기부터 사실상의 mainContent 시작 -------- */
/* ---------------------------------------------------- */

.priceview--box {
    background-color: #C2D3EB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    border-radius: 20px;
}