/* 20230501 상준 작성 시작 */
/* 
    css는 class
    js는 id
*/

/* ---------------------------------------------------- */
/* 1depth */
/* ---------------------------------------------------- */

/* 화면 전체 배경 */
.content--chatting__background {
    height: 100vh;
}


/* 채팅 타이틀 */
.content--chatting__top { /* 이 부분은 추후 높이 협의 보기 */
    background-color: #C2D3EB;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: ". title . . . . . . . .";
    place-items: center;
}
.content--chatting__title {
    grid-area: title;
    
    color: #2365B9;
    font-size: 1.5rem;
    font-weight: bold;
}

/* ---------------------------------------------------- */

/* 채팅 메인 */
.content--chatting__main {
    display: grid;
    height: 500px;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas:
        ". . ."
        "left main right"
        ". . .";
    place-items: center;
}

/* ---------------------------------------------------- */
/* 2depth */
/* ---------------------------------------------------- */

/* 좌측 여백 */
.content--aside__left {
    grid-area: left;
}


/* 우측 여백 */
.content--aside__right {
    grid-area: right;
}


/* 채팅 박스 배경 */
.chatting--background {
    grid-area: main;
    background-color: white;
}

/* ---------------------------------------------------- */
/* mainFrame */
/* ---------------------------------------------------- */

.chatting--main__box {
    height: 400px;
    width: 1000px;
    border-radius: 20px;
    background-color: #C2D3EB;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.chatting--main__leftBox {
    height: 380px;
    width: 280px;
    border-radius: 20px;
    background-color: white;
}
.chatting--main__rightBox {
    height: 380px;
    width: 680px;
    border-radius: 20px;
    background-color: white;
}

/* ---------------------------------------------------- */