/* 20230425 상준 작성 시작 */
/* 
    css는 class
    js는 id
*/

/* ---------------------------------------------------- */
/* 1depth */
/* ---------------------------------------------------- */

/* 화면 전체 배경 */
.content--chatting__background {
    background-color: lightblue;                                                   /* 추후 삭제 */
    height: calc(100vh - 150px); /* header 150px 고정값 빼기 */
}


/* 채팅 타이틀 */
.content--chatting__top { /* 이 부분은 추후 높이 협의 보기 */
    background-color: #C2D3EB;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 200px; /* chatting--box 양 사이드 값 참조 */

    color: #2365B9;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
}

/* ---------------------------------------------------- */

/* 채팅 메인 */
.content--chatting__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* ---------------------------------------------------- */
/* 2depth */
/* ---------------------------------------------------- */

/* 좌측 여백 */
.chatting--aside__left {
    background-color: yellow;
    height: 1400px;
    width: 200px;
}


/* 채팅 박스 배경 */
.chatting--background {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc((100vh - 150px) - 100px);
    width: calc(100vw - 400px); /* 좌/우측 여백 빼기 */
}


/* 우측 여백 */
.chatting--aside__right {
    height: 1400px;
    width: 200px;
}

/* ---------------------------------------------------- */

/* 채팅 박스 */
.chatting--box {
    background-color: #C2D3EB;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
    width: 90%;
    border-radius: 20px;
}



/* ---------------------------------------------------- */
/* 3depth - left */
/* ---------------------------------------------------- */

/* 좌측 채팅 박스 */
.chatting--box__left {
    background-color: white;
    height: 90%;
    width: 30%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: sapce;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* ---------------------------------------------------- */

/* 채팅 박스 내 프로필 */
.chatting--myProfile {
    background-color: yellow;
    height: 100px;
    width: 90%;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* ---------------------------------------------------- */

/* 채팅 박스 고객 프로필 박스 */
.chatting--clientList {
    border: 3px solid black;
    height: calc(100% - 100px);
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
}


/* 채팅 박스 고객 프로필 리스트 */
.chatting--clientList > div {
    background-color: #C2D3EB;
    height: 100px;
    border-radius: 20px;
    margin-bottom: 5px;
}

/* ---------------------------------------------------- */
/* 3depth - right */
/* ---------------------------------------------------- */

/* 우측 채팅 박스 */
.chatting--box__right {
    background-color: white;
    height: 90%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}


/* 채팅 시 연결 게시물 */
.chatting--post {
    background-color: #C2D3EB;
    height: 100px;
    width: 95%;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* ---------------------------------------------------- */

/* 채팅이 이루어지는 공간 */
.chatting--list {
    height: calc(100% - 100px - 100px);
    width: 95%;
    border: 3px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
}


/* 말풍선 */
.chatting--list > div {
    background-color: yellow;
    height: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* ---------------------------------------------------- */

/* 채팅 치는 곳 */
.chatting--chat {
    background-color: #C2D3EB;
    height: 100px;
    width: 95%;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* ---------------------------------------------------- */