<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<!-- 별칭 작성 부분 -->
	<!-- DTO클래스의 패키지명 + 클래스명 작성하는 것이 불편하기 때문에 짧은 별칭 부여 -->
	<typeAliases>
		<typeAlias type="project.kh.newsecond.user.model.dto.User" alias="User" />
		<typeAlias type="project.kh.newsecond.shop.model.dto.Shop" alias="Shop" />
		<typeAlias type="project.kh.newsecond.shop.model.dto.Follow" alias="Follow" />
		<typeAlias type="project.kh.newsecond.review.model.dto.Review" alias="Review" />
		<typeAlias type="project.kh.newsecond.goodsboard.model.dto.GoodsBoard" alias="GoodsBoard" />
		<typeAlias type="project.kh.newsecond.notice.model.dto.Notice" alias="Notice" />
		<typeAlias type="project.kh.newsecond.admin.model.dto.Admin" alias="Admin" />
		<typeAlias type="project.kh.newsecond.qna.model.dto.Qna" alias="Qna" />
		<typeAlias type="project.kh.newsecond.notification.model.dto.NotificationKeyword" alias="NotificationKeyword" />
		
		<typeAlias type="project.kh.newsecond.writing.model.dto.Writing" alias="Writing" />
		<typeAlias type="project.kh.newsecond.writing.model.dto.WritingImage" alias="WritingImage" />
	</typeAliases>
	
	
	<!-- mapper 파일(SQL 작성되는파일) 위치 등록 부분 -->
	<mappers>
		<mapper resource="/mappers/user-mapper.xml" />
		<mapper resource="/mappers/shop-mapper.xml" />
		<mapper resource="/mappers/goodsboard-mapper.xml" />
		<mapper resource="/mappers/notice-mapper.xml" />
		<mapper resource="/mappers/admin-mapper.xml" />
		<mapper resource="/mappers/notification-mapper.xml" />
		<mapper resource="/mappers/follow-mapper.xml" />
		<mapper resource="/mappers/search-mapper.xml" />
		
		<mapper resource="/mappers/writing-mapper.xml" />
		<mapper resource="/mappers/priceView-mapper.xml" />
		<mapper resource="/mappers/qna-mapper.xml" />
	</mappers>


</configuration>
