
main{
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 170px;
    margin-bottom: 100px;
}

/* 내부 내용 */
.notice_wrap{
    margin-top: 50px;
}
/* 상단 제목 바 */
.notice_bar{
color: #005eee;
font-weight: bold;
font-size: 25px;
margin: 20px 20px; 

}

.notice_tableWrap{
    display: grid;
  place-items: center;
}

/* 상단 제목 바 새 공지사항 버튼 */
.notice_barBtn{
    color: #005eee;
    border:1px solid #005eee;
    border-radius: 5px;
    padding: 3px 3px;
    font-size: smaller;
    font-weight: bold;
 
}

/* 중간 선택숨김,선택삭제 버튼 */
.notice_Btn{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.notice_HiddenBtn{
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 10px 10px;
    padding: 3px 5px;
}

.notice_DelBtn{
    border-radius: 5px;
    border: 1px solid #e27f7f;
    margin: 10px 10px;
    padding: 3px 5px;
}



/* 테이블 */

table{
    width: 100%;

}

th{
background-color: #8AB2E2;
padding: 5px;
text-align: center !important;
}

th:first-child{
border-top-left-radius: 8px;
border-bottom-left-radius: 8px;
}

th:last-child{
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;

}

tbody td{
width: 120px;
text-align: center;
padding: 10px 10px;
table-layout: fixed;
height: 40px;
}



tbody td:nth-child(1){
        width: 800px;
        padding: 0px;
 }

 
tbody td:nth-child(2){
    width: 200px;
    padding: 0px;
}


tbody td:last-child{
width: 120px;
padding: 0px;
}

.notice_tableBtn{
border-radius: 10px;
border: 1px solid #ccc;

}


.notice_tableBtn:hover{
border-radius: 10px;
border: 1px solid #ccc;
background-color: #14974f;

}