/* 20230501 상준 작성 시작 */
/* 
    css는 class
    js는 id
*/

/* ---------------------------------------------------- */
/* 1depth */
/* ---------------------------------------------------- */

/* 화면 전체 배경 */
.content--priceView__background {
    padding-top: 170px;
    height: calc(100vh-100px);
}


/* 시세조회 타이틀 */
.content--priceView__top { /* 이 부분은 추후 높이 협의 보기 */
    background-color: #C2D3EB;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: ". title title . . . . . . .";
    place-items: center;
}
.content--priceView__title {
    grid-area: title;
    color: #2365B9;
    font-size: 1.5rem;
    font-weight: bold;
}

/* ---------------------------------------------------- */

/* 시세조회 메인 */
.content--priceView__main {
    display: grid;
    height: 500px;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas:
        ". . ."
        "left main right"
        ". . .";
    place-items: center;
}

/* ---------------------------------------------------- */
/* 2depth */
/* ---------------------------------------------------- */

/* 좌측 여백 */
.content--aside__left {
    grid-area: left;
}


/* 우측 여백 */
.content--aside__right {
    grid-area: right;
}


/* 시세조회 박스 배경 */
.priceView--background {
    grid-area: main;
    background-color: white;
}

/* ---------------------------------------------------- */
/* mainFrame */
/* ---------------------------------------------------- */

.priceView--main__box {
    height: 450px;
    width: 1000px;
    border-radius: 20px;
    background-color: #C2D3EB;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.priceView--main__leftBox {
    height: 400px;
    width: 680px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.priceView--main__searchBox {
    height: 100px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.priceView--main__recentSearch {
    height: 200px;
    width: 600px;
}
.priceView--main__popularSearch {
    height: 380px;
    width: 280px;
}

/* ---------------------------------------------------- */


/* 검색창 */
.priceView--main__searchBox > label {
    background-color: white;
    border-radius: 40px;
    width: 500px;
    height: 50px;
    
    display: grid;
    grid-template-columns: 5px 7fr 2fr 5px;
    grid-template-areas:
        ". search button ";
    place-items: center;
}
.priceView--main__searchBox > label > input {
    grid-area: search;
    height: 50px;
    width: 350px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
.priceView--main__searchBox > label > button {
    grid-area: button;
    margin-left: 10px;
    padding: 10px 20px 10px 20px;
    color: white;
    background-color: #2365B9;
    border-radius: 20px;
    border: none;
}
.priceView--main__searchBox > label > button:hover {
    box-shadow: 0 0 0 2px black inset;
}
input:focus {
    outline: none;
}

/* ---------------------------------------------------- */

.priceView--main__recentSearch > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
}
.priceView--main__recentSearch > div:first-child > div {
    color:#2365B9;
    font-weight: bold;
    font-size: 1.2em;
    padding-left: 30px;
}
.priceView--main__recentSearch > div:first-child > button {
    padding: 10px 20px 10px 20px;
    color: white;
    background-color: #2365B9;
    border-radius: 20px;
    border: none;
}
.priceView--main__recentSearch > div:first-child > button:hover {
    box-shadow: 0 0 0 2px black inset; /* 안쪽으로 border 주기 */
}

/* ---------------------------------------------------- */

.priceView--main__recentSearch > div:last-child {
    background-color: white;
    height: 140px;
    width: 560px;
    border-radius: 20px;

    display: flex;
    padding: 10px 20px 10px 20px;
}
.priceView--main__recentSearch > div:last-child > span {
    padding: 10px;
    margin: 5px;
    background-color: #2365B9;
    height: 40px;
    color:white;
    border-radius: 10px;

    text-align: center;
    justify-content: center;
}
.priceView--main__recentSearch > div:nth-child(2) > span:hover {
    box-shadow: 0 0 0 2px black inset; /* 안쪽으로 border 주기 */
}
.priceView--main__recentSearch > div:nth-child(2) > span:after {
    content: "\00d7";
    font-size: 1.5em;
    line-height: 10px;

    padding-left: 5px;
    padding-top: 5px;
}


/* ---------------------------------------------------- */

.priceView--main__popularSearch {
    display: grid;
    grid-template-rows: 10px repeat(10, 1fr);
    width: 250px;
    justify-content: left;
    align-items: center;
}
.priceView--main__popularSearch > span {
    font-size: 1.2em;
    font-weight: bold;
    color: #2365B9;
    padding-bottom: 20px;
}
.priceView--main__popularSearch > ol {
    background-color: white;
    width: 210px;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.priceView--main__popularSearch > ol > li {
    padding: 5px;
}
.priceView--main__popularSearch > ol > li:hover {
    color: white;
    font-weight: bold;
    background-color: #2365B9;
}