<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="followMapper">
	
	
	<resultMap type="Follow" id="follow_rm">
		<id property="activeUserNo" column="ACTIVE_USER_NO"/>
		<id property="passiveUserNo" column="PASSIVE_USER_NO"/>
		
		<result property="shopTitle" column="SHOP_TITLE"/>
		<result property="shopInfo" column="SHOP_INFO"/>
		<result property="userImage" column="USER_IMG"/>
	</resultMap>
	

	<resultMap type="User" id="user_rm">
		<id property="userNo" column="USER_NO" />
		
		<result property="userEmail" column="USER_EMAIL" />
		<result property="userPassword" column="USER_PASSWORD" />
		<result property="userNickname" column="USER_NICKNAME" />
		<result property="userTel" column="USER_TEL" />
		<result property="userAddress" column="USER_ADDRESS" />
		<result property="userImage" column="USER_IMG" />
		<result property="userStatus" column="USER_STATES" />
		<result property="enrollDate" column="ENROLL_DT" />
		<result property="userRole" column="USER_ROLE"/>
	</resultMap>

		
		<!-- 팔로우 -->
		<insert id="follow">
			INSERT INTO "follow" VALUES(#{activeUserNo}, #{passiveUserNo})
		</insert>
		
		
		<!-- 언팔로우 -->
		<delete id="unFollow">
			DELETE FROM "follow" 
			WHERE ACTIVE_USER_NO = #{activeUserNo}
			AND PASSIVE_USER_NO = #{passiveUserNo}
		</delete>
		
		
		<!-- 팔로우 유무 조회 -->
		<select id="checkFollow" resultType="_int">
			SELECT COUNT(*) FROM "follow" 
			WHERE ACTIVE_USER_NO = #{activeUserNo}
			AND PASSIVE_USER_NO = #{passiveUserNo}
		</select>
		
		
		
		<!-- 팔로우 리스트 조회 -->
		<select id="selectFollowList" resultMap="follow_rm">
			SELECT ACTIVE_USER_NO, PASSIVE_USER_NO, SHOP_TITLE, SHOP_INFO, USER_IMG
			FROM "follow" 
			JOIN "shop" s ON(s.USER_NO = PASSIVE_USER_NO)
			JOIN "users" u ON(u.USER_NO = PASSIVE_USER_NO)
			WHERE ACTIVE_USER_NO = #{userNo}
		</select>
		
		
		<!-- 팔로워 리스트 조회 -->
		<select id="selectFollowerList" resultMap="follow_rm">
			SELECT ACTIVE_USER_NO, PASSIVE_USER_NO, SHOP_TITLE, SHOP_INFO, USER_IMG
			FROM "follow" 
			JOIN "shop" s ON(s.USER_NO = ACTIVE_USER_NO)
			JOIN "users" u ON(u.USER_NO = ACTIVE_USER_NO)
			WHERE PASSIVE_USER_NO = #{userNo}
		</select>
		
		
		<!-- 탈퇴 시 팔로우 삭제 -->
		<delete id="deleteUserFollowList">
			DELETE FROM "follow" WHERE ACTIVE_USER_NO = #{userNo}
		</delete>
		
		
		
</mapper>
