<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="goodsBoardMapper">


	<!-- GoodsBoard resultMap -->
	<resultMap type="GoodsBoard" id="goodsboard_rm">
		<!-- DB의 기본 키(복합키면 여러 개 작성) -->
		<id property="goodsNo" column="GOODS_NO" />
		
		<!-- DB의 일반 컬럼들 -->
		<result property="userNo" column="USER_NO" />
		<result property="categoryNo" column="CATEGORY_NO" />
		<result property="goodsTitle" column="GOODS_TITLE" />
		<result property="goodsDescr" column="GOODS_DESCR" />
		<result property="goodsPrice" column="GOODS_PRICE" />
		<result property="viewCount" column="VIEW_COUNT" />
		<result property="wishCount" column="WISH_COUNT" />
		<result property="sellEnrollDate" column="SELL_ENROLL_DT" />
		<result property="goodsStatus" column="GOODS_STATUS" />
		
		<result property="thumbnail" column="THUMBNAIL" />
		
		<result property="shopTitle" column="SHOP_TITLE" />
		
		<result property="sortType" column="SORT_TYPE" />
		
		<collection property="filesList"
					select="selectFilesList"
					column="GOODS_NO"
					javaType="java.util.ArrayList"
					ofType="Files" />
		
	</resultMap>
	
	
	<!-- Files resultMap -->
	<resultMap type="Files" id="files_rm">
		<id property="fileNo" column="FILE_NO"/>
		
		<result property="goodsNo" column="GOODS_NO"/>
		<result property="fileName" column="FILE_NAME"/>
		<result property="fileOrder" column="FILE_ORDER"/>
		<result property="filePath" column="FILE_PATH"/>
	</resultMap>
	
	<!-- Shop resultMap -->
	<resultMap type="Shop" id="shop_rm">
		<id property="userNo" column="USER_NO"/>
		<result property="shopTitle" column="SHOP_TITLE"/>
		<result property="shopInfo" column="SHOP_INFO"/>
		<result property="shopProfile" column="SHOP_PROFILE"/>
	</resultMap>
	
	
	<!-- Category resultMap -->
	<resultMap type="Category" id="category_rm">
		<id property="categoryNo" column="CATEGORY_NO" />
		<id property="categoryName" column="CATEGORY_NAME" />
		
	</resultMap>
	
	<!-- 유민 : (관리자 페이지 - 게시글 관리) -->
	
	
	
	<!-- 희진 : 상점 내 특정 유저 게시글 목록 -->
	<!-- 상품 게시글 목록 조회 -->
	<select id="selectGoodsBoardList" resultMap="goodsboard_rm" >
		SELECT GOODS_NO, USER_NO, CATEGORY_NO, GOODS_TITLE, GOODS_DESCR, GOODS_PRICE, 
				VIEW_COUNT, WISH_COUNT, GOODS_STATUS,
				
				<![CDATA[
		    CASE
		        WHEN SYSDATE - SELL_ENROLL_DT < 1/24/60 THEN FLOOR((SYSDATE - SELL_ENROLL_DT) * 24 * 60 * 60) || '초 전'
		        WHEN SYSDATE - SELL_ENROLL_DT < 1/24 THEN FLOOR((SYSDATE - SELL_ENROLL_DT) * 24 * 60) || '분 전'
		        WHEN SYSDATE - SELL_ENROLL_DT < 1 THEN FLOOR((SYSDATE - SELL_ENROLL_DT) * 24) || '시간 전'
		        WHEN SYSDATE - SELL_ENROLL_DT < 30 THEN FLOOR(SYSDATE - SELL_ENROLL_DT) || '일 전'
		        WHEN SYSDATE - SELL_ENROLL_DT < 365 THEN FLOOR((SYSDATE - SELL_ENROLL_DT) / 30) || '달 전'
		        ELSE FLOOR((SYSDATE - SELL_ENROLL_DT) / 365) || '년 전'
		    END SELL_ENROLL_DT, 
		    ]]>
		    
		    THUMBNAIL
		    
		FROM (SELECT G.GOODS_NO GOODS_NO, USER_NO, CATEGORY_NO, GOODS_TITLE, GOODS_DESCR, GOODS_PRICE, 
				VIEW_COUNT, WISH_COUNT, GOODS_STATUS, SELL_ENROLL_DT, 
				NVL((SELECT FILE_PATH||USER_NO||'/'||FILE_NAME FROM "files" F
					WHERE F.GOODS_NO = G.GOODS_NO
					AND FILE_ORDER = 1), '/resources/src/img/basic_profile.png') THUMBNAIL 
				FROM "goods_board" G
				WHERE USER_NO = #{userNo}
				AND GOODS_STATUS NOT IN('D', 'B')
				
				
				<!-- 최신순 -->
				<if test="sortType==0">ORDER BY GOODS_STATUS, SELL_ENROLL_DT DESC</if>	
				
				<!-- 인기순 -->
				<if test="sortType==1">ORDER BY GOODS_STATUS, VIEW_COUNT DESC</if>
				
				<!-- 높은 가격순 -->
				<if test="sortType==2">ORDER BY GOODS_STATUS, GOODS_PRICE</if>
				
				<!-- 낮은 가격순 -->
				<if test="sortType==3">ORDER BY GOODS_STATUS, GOODS_PRICE DESC</if>
				)
	</select>
	
	
	
	<!-- 지영 : 검색으로 상품 조회 -->
	<!-- 상품 게시글 수 카운트   -->
	<select id="searchGoodsCount" resultType="_int">
		SELECT COUNT(*)
		FROM "goods_board"
		JOIN "shop" USING (USER_NO)
		WHERE GOODS_STATUS IN ('A','E','C')
			AND ((GOODS_TITLE || GOODS_DESCR) LIKE '%${searchName}%'
			OR SHOP_TITLE LIKE '%${searchName}%')
		ORDER BY SELL_ENROLL_DT DESC
	</select>
	
	
	<!-- 검색 상품 목록 조회 -->
	<select id="selectSearchGoodsList" resultMap="goodsboard_rm">
	
		SELECT GOODS_NO , USER_NO , CATEGORY_NO , GOODS_TITLE , GOODS_PRICE, GOODS_STATUS,
			(SELECT FILE_PATH||USER_NO||'/'||FILE_NAME FROM "files" F
			WHERE F.GOODS_NO = G.GOODS_NO
			AND FILE_ORDER = 1) THUMBNAIL
		FROM "goods_board" G
		JOIN "shop" USING (USER_NO)
		WHERE GOODS_STATUS IN ('A','E','C')
			AND (GOODS_TITLE || GOODS_DESCR) LIKE '%${searchName}%'
		ORDER BY SELL_ENROLL_DT DESC
		
	</select>
	
	<!-- 더보기 -->
	<select id="moreGoods" resultMap="goodsboard_rm">
	
	SELECT * FROM(
			SELECT ROW_NUMBER() OVER (ORDER BY SELL_ENROLL_DT DESC) AS NUM
			, GOODS_NO , USER_NO , CATEGORY_NO , GOODS_TITLE , GOODS_PRICE, GOODS_STATUS,
				(SELECT FILE_PATH||USER_NO||'/'||FILE_NAME FROM "files" F
				WHERE F.GOODS_NO = G.GOODS_NO
				AND FILE_ORDER = 1) THUMBNAIL
			FROM "goods_board" G
			JOIN "shop" USING (USER_NO)
			WHERE GOODS_STATUS IN ('A','E','C')
				AND (GOODS_TITLE || GOODS_DESCR) LIKE '%${searchName}%'
			ORDER BY SELL_ENROLL_DT DESC)
			<![CDATA[ WHERE NUM > ${startCallNum} ]]>
		ORDER BY NUM
		
	</select>
		
	<!-- 게시글 상세 -->
	<select id="goodsDetail" resultMap="goodsboard_rm">
		SELECT USER_NO, GOODS_NO, GOODS_TITLE , GOODS_PRICE , VIEW_COUNT , GOODS_STATUS,
		 (SELECT COUNT(*) FROM "wish_lists" WHERE GOODS_NO = #{goodsNo}) WISH_COUNT , GOODS_DESCR 
		FROM "goods_board"
		WHERE GOODS_NO = ${goodsNo}
	</select>
	
	<!-- 게시글 상세 이미지리스트 조회 -->
	<select id="selectFilesList" resultMap="files_rm">
		SELECT *FROM "files" 
		WHERE GOODS_NO = ${goodsNo}
		ORDER BY FILE_ORDER
	</select>
	
	<!-- 찜 여부 확인 -->
	<select id="goodsLikeChecked" resultType="_int">
		SELECT COUNT(*) FROM "wish_lists"
		WHERE GOODS_NO = #{goodsNo}
		AND USER_NO = #{userNo}
	</select>
	
	<!--찜 등록 -->
	<insert id="insertLike">
		INSERT INTO "wish_lists" VALUES
		(SEQ_WISH_NO.NEXTVAL, #{goodsNo}, #{loginUserNo}, DEFAULT)
	</insert>
	
	<!-- 찜 취소 -->
	<delete id="deleteLike">
		DELETE FROM "wish_lists"
		WHERE GOODS_NO = #{goodsNo}
		AND USER_NO = #{loginUserNo}
	</delete>
	
	<!-- 찜 카운트 -->
	<select id="countLike" resultType="_int">
		SELECT COUNT(*) FROM "wish_lists" WHERE GOODS_NO = #{goodsNo}
	</select>	
	
	<!-- 상품 상세 상점 정보 -->
	<select id="shopInfo" resultMap="shop_rm">
		SELECT GOODS_NO, USER_NO ,SHOP_TITLE ,SHOP_PROFILE ,SHOP_INFO 
		FROM "shop" s
		JOIN "goods_board" g USING (USER_NO)
		WHERE GOODS_NO = #{goodsNo}
	</select>
		
	
		
	<!-- 메인페이지 - 지환 -->
	<!-- 최근 업데이트된 상품 -->
	<select id="selectRecentGoodsList" resultMap="goodsboard_rm">
		SELECT ROW_NUMBER() OVER (ORDER BY SELL_ENROLL_DT DESC) AS NUM, GOODS_NO , GOODS_TITLE ,
			(SELECT FILE_PATH||USER_NO||'/'||FILE_NAME FROM "files" F
			WHERE F.GOODS_NO = G.GOODS_NO
			AND FILE_ORDER = 1) THUMBNAIL
		FROM "goods_board" G
		JOIN "shop" USING (USER_NO)
	</select>
	
	
	<!-- 로그인한 유저가 최근에 본 상품 -->
	<!-- <select id="selectrecentViewedList" resultMap="goodsboard_rm">
	
	</select> -->
	
	
	<!-- 조회수가 높은 상품 -->
	<select id="selectMostViewedList" resultMap="goodsboard_rm">
		SELECT ROW_NUMBER() OVER (ORDER BY VIEW_COUNT DESC) AS NUM, GOODS_NO , GOODS_TITLE ,
			(SELECT FILE_PATH||USER_NO||'/'||FILE_NAME FROM "files" F
			WHERE F.GOODS_NO = G.GOODS_NO
			AND FILE_ORDER = 1) THUMBNAIL
		FROM "goods_board" G
		JOIN "shop" USING (USER_NO)
	</select>
	
	<!-- 카테고리 리스트 -->
	<select id="selectCategoryList" resultMap="category_rm">
		SELECT CATEGORY_NO, CATEGORY_NAME
		FROM "categories"
	</select>
	
		
</mapper>
