<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="NotificationMapper">

	<resultMap type="NotificationKeyword" id="keword_rm">
		<id property="keywordNo" column="KEYWORD_NO" />
		
		<result property="userNo" column="USER_NO" />
		<result property="keywordTitle" column="KEYWORD_TITLE" />
		<result property="createDate" column="CREATE_DT" />
	</resultMap>
	
	
	
	<resultMap type="Notification" id="notification_rm">
		<id property="notificationNo" column="NOTIFICATION_NO" />
		
		<result property="targetNo" column="TARGET_NO" />
		<result property="senderNo" column="SENDER_NO" />
		<result property="notificationMessage" column="NOTIFICATION_MESSAGE" />
		<result property="readOrNot" column="READ_OR_NOT" />
		<result property="sendDate" column="NOTIFICATION_CREATE_DT" />
		<result property="notificationType" column="NOTIFICATION_KIND" />
	</resultMap>
	

	<!-- 키워드 리스트 조회 -->
	<select id="selectKeywords" resultMap="keword_rm">
		SELECT KEYWORD_NO, USER_NO, KEYWORD_TITLE, CREATE_DT  
		FROM "notification_keywords"
		WHERE USER_NO = #{userNo}
		ORDER BY CREATE_DT 
	</select>		
	
	
	<!-- 키워드 추가 -->
	<insert id="insertKeyword" parameterType="hashMap">
		INSERT INTO "notification_keywords" VALUES(SEQ_KEYWORD_NO.NEXTVAL, #{userNo}, #{keyword}, DEFAULT)
	</insert>
	
	
	<!-- 키워드 삭제 -->
	<delete id="deleteKeyword">
		DELETE FROM "notification_keywords" 
		WHERE USER_NO = #{userNo}
		AND KEYWORD_NO = #{keywordNo}
	</delete>
	
	
	<!-- 팔로우 알림 추가 -->
	<insert id="insertNotification">
		INSERT INTO "notifications" VALUES(SEQ_NOTIFICATION_NO.NEXTVAL, 
			#{targetNo}, '${senderNo}${notificationMessage}', DEFAULT, DEFAULT, 'F')
	</insert>
</mapper>
