<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="writingMapper">

	<resultMap type="User" id="user_rm">
		<id property="userNo" column="USER_NO" /> <!-- id 태그는 PK 조건 -->
	</resultMap>

<!-- Writing 객체와 매핑 -->
	<resultMap type="Writing" id="writing_rm">
		<id property="goodsNo" column="GOODS_NO" /> <!-- id 태그는 PK 조건 -->
		<result property="userNo" column="USER_NO" />
		<result property="categoryNo" column="CATEGORY_NO" />
		<result property="title" column="GOODS_TITLE" />
		<result property="detailText" column="GOODS_DESCR" />
		<result property="price" column="GOODS_PRICE" />
	</resultMap>
	
<!-- WritingImage 객체와 매핑 -->
	<resultMap type="WritingImage" id="writingImage_rm">
		<id property="fileNo" column="FILE_NO" /> <!-- id 태그는 PK 조건 -->
		<result property="title" column="GOODS_NO" />
		<result property="fileName" column="FILE_NAME" />
		<result property="fileOrder" column="FILE_ORDER" />
		<result property="filePath" column="FILE_PATH" />
	</resultMap>
	
	<!-- 글쓰기 내용 삽입 -->
	<insert id="writingInsert"> <!-- 상품 게시글 입력 -->
		INSERT INTO "goods_board"
		VALUES(
			SEQ_GOODS_NO.NEXTVAL,
			#{userNo},
			#{categoryNo},
			#{title},
			#{detailText},
			#{price},
			DEFAULT,
			DEFAULT,
			DEFAULT,
			DEFAULT
		)
	</insert>
	
	<!-- 글쓰기 내용으로 가장 최근에 삽입된 SEQ_GOODS_NO 값 리턴 -->
	<select id="sqlSelect" resultType="int">
		SELECT GOODS_NO
		FROM "goods_board"
		WHERE ROWNUM = 1
		AND USER_NO = #{userNo}
		AND GOODS_TITLE = #{title}
		AND GOODS_DESCR = #{detailText}
		ORDER BY SELL_ENROLL_DT ASC
	</select>
	
	<!-- 글쓰기 내용 삽입 중 이미지 삽입1 --> 
<!-- 	<insert id="writingImageInsert"> 파일 테이블 입력
		INSERT INTO "files"
		VALUES(
			SEQ_FILE_NO,
			#{goodsNo},
			#{fileName},
			#{fileOrder},
			#{filePath}
		)
	</insert> -->
	
	<!-- 글쓰기 내용 삽입 중 이미지 삽입2 -->
	<insert id="writingImageInsert">
		INSERT INTO "files" (FILE_NO, GOODS_NO, FILE_NAME, FILE_ORDER, FILE_PATH)
		SELECT SEQ_FILE_NO.NEXTVAL, A.*
		FROM (
			<foreach collection="list" item="img" separator=" UNION ALL ">
				SELECT #{img.goodsNo} GOODS_NO,  
						#{img.fileName} FILE_NAME,
						#{img.fileOrder} FILE_ORDER,
						#{img.filePath} FILE_PATH
				FROM DUAL
			</foreach>
		) A
	</insert>
	
	
</mapper>